# Films Analysis with Pandas

In [2]:
import pandas as pd         # import pandas library

films_df = pd.read_csv('../films_analysis/movies_2.csv') # read csv file
display(films_df.head())    # display first 5 rows
display(films_df.tail())    # display last 5 rows

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0,"After a single, career-minded woman is left on..."
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0,An old Jewish woman and her African-American c...
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0,"Det. Scott Turner (Tom Hanks) is an uptight, b..."
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0,The biography of Ron Kovic. Paralyzed in the V...
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0,"An Iowa corn farmer, hearing voices, interpret..."

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count,Summary
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,NaN
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,NaN
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,NaN
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,NaN
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
films_df.shape              # display number of rows and columns

(616, 11)

In [4]:
films_df.info()             # display information about the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   MovieID       616 non-null    int64
 1   Title         615 non-null    object
 2   MPAA Rating   615 non-null    object
 3   Budget        615 non-null    float64
 4   Gross         615 non-null    float64
 5   Release Date  615 non-null    object
 6   Genre         615 non-null    object
 7   Runtime       615 non-null    float64
 8   Rating        508 non-null    float64
 9   Rating Count  508 non-null    float64
 10  Summary       496 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 53.1+ KB

In [5]:
films_df.describe()         # display statistical information about the dataframe

,MovieID,Budget,Gross,Runtime,Rating,Rating Count
count,616.000000,6.150000e+02,6.150000e+02,615.000000,508.000000,5.080000e+02
mean,307.500000,9.491710e+07,4.453221e+08,118.642276,6.917323,3.392521e+05
std,177.968162,6.748114e+07,3.394075e+08,22.252376,0.888928,3.213388e+05
min,0.000000,6.000000e+04,5.300000e+07,79.000000,4.100000,1.491800e+04
25%,153.750000,4.000000e+07,2.158939e+08,102.000000,6.400000,1.275922e+05
50%,307.500000,8.000000e+07,3.510404e+08,117.000000,6.900000,2.403475e+05
75%,461.250000,1.400000e+08,5.851766e+08,132.000000,7.600000,4.257000e+05
max,615.000000,4.000000e+08,2.796000e+09,201.000000,9.000000,2.127228e+06

## Identifying the objective of the analysis

In [6]:
films_df.columns            # display column names

Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count', 'Summary'],
      dtype='object')

## Remove all irrelevant data in the dataset.

In [7]:
# Get rid of the Summary column (use the drop() method)
films_df.drop('Summary', axis=1, inplace=True)

In [8]:
films_df.columns            # display column names. The Summary column is gone

Index(['MovieID', 'Title', 'MPAA Rating', 'Budget', 'Gross', 'Release Date',
       'Genre', 'Runtime', 'Rating', 'Rating Count'],
      dtype='object')

In [9]:
films_df.head()

,MovieID,Title,MPAA Rating,Budget,Gross,Release Date,Genre,Runtime,Rating,Rating Count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

### Standarization

In [10]:
# Change columns names to lowercase and add an underscore if they are made of 2 words
films_df.rename(columns=lambda x: x.strip().lower().replace(" ", "_"), inplace=True)
films_df.columns

Index(['movieid', 'title', 'mpaa_rating', 'budget', 'gross', 'release_date',
       'genre', 'runtime', 'rating', 'rating_count'],
      dtype='object')

### Finding missing values

In [11]:
missing_values = films_df.isna().sum(axis=1) # count missing values and store them in a new column
films_df['missing_values'] = missing_values
sorted_films_df = films_df.sort_values(by='missing_values', ascending=False) # sort the dataframe by the number of missing values
display(sorted_films_df.head(10)) # display the 10 rows with the most missing values

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,missing_values
615,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
547,548,Suicide Squad,PG-13,175000000.0,7.456001e+08,2016-08-02,Action,123.0,NaN,NaN,2
536,537,La La Land,PG-13,30000000.0,4.454357e+08,2016-11-29,Drama,128.0,NaN,NaN,2
537,538,Deadpool,R,58000000.0,7.831130e+08,2016-02-09,Comedy,108.0,NaN,NaN,2
538,539,The Secret Life of Pets,PG,75000000.0,8.754579e+08,2016-06-18,Animation,87.0,NaN,NaN,2
539,540,Sing,PG,75000000.0,6.324437e+08,2016-11-23,Animation,108.0,NaN,NaN,2
540,541,Jason Bourne,PG-13,120000000.0,4.154849e+08,2016-07-27,Action,123.0,NaN,NaN,2
541,542,Trolls,PG,125000000.0,3.468645e+08,2016-10-13,Animation,92.0,NaN,NaN,2
542,543,Ghostbusters,PG-13,144000000.0,2.291475e+08,2016-07-14,Thriller,116.0,NaN,NaN,2
543,544,Zootopia,PG,150000000.0,1.023784e+09,2016-02-11,Animation,108.0,NaN,NaN,2

### Get rid of the rows with more than 3 missing values

In [12]:
# Get rid of the rows with missing values (use the dropna() method)
films_df = films_df.drop(615)
films_df.shape             # display number of rows and columns (the number of rows has decreased from (611, 11) to (508, 10))

(615, 11)

In [13]:
films_df.tail()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count,missing_values
610,611,Godzilla: King of the Monsters,PG-13,200000000.0,3.859000e+08,2019-05-13,Adventure,132.0,NaN,NaN,2
611,612,Toy Story 4,G,200000000.0,1.062000e+09,2019-06-11,Animation,100.0,NaN,NaN,2
612,613,Fast & Furious Presents: Hobbs & Shaw,PG-13,200000000.0,7.594000e+08,2019-07-13,Thriller,136.0,NaN,NaN,2
613,614,The Lion King,PG,250000000.0,1.632000e+09,2019-07-09,Drama,118.0,NaN,NaN,2
614,615,Avengers: Endgame,PG-13,356000000.0,2.796000e+09,2019-04-22,Action,181.0,NaN,NaN,2

In [14]:
films_df = films_df.drop("missing_values", axis=1) #"inplace=True" parameter is not necessary here, since you are already re-assigning the result back to the same variable "films_df". The column will be dropped from the original DataFrame. drop the missing_values column (use the drop() method) 

# display the type of the data frame
films_df.head()

,movieid,title,mpaa_rating,budget,gross,release_date,genre,runtime,rating,rating_count
0,1,Look Who's Talking,PG-13,7500000.0,296000000.0,1989-10-12,Romance,93.0,5.9,73638.0
1,2,Driving Miss Daisy,PG,7500000.0,145793296.0,1989-12-13,Comedy,99.0,7.4,91075.0
2,3,Turner & Hooch,PG,13000000.0,71079915.0,1989-07-28,Crime,100.0,7.2,91415.0
3,4,Born on the Fourth of July,R,14000000.0,161001698.0,1989-12-20,War,145.0,7.2,91415.0
4,5,Field of Dreams,PG,15000000.0,84431625.0,1989-04-21,Drama,107.0,7.5,101702.0

### Asisgning values to the NaN cells and "0" values

In [15]:
columns_with_null_values = films_df.columns[films_df.isnull().any()] # get the columns with null values
display(columns_with_null_values)

Index(['rating', 'rating_count'], dtype='object')

#### Find the mean of the columns with null values and asign them to the mean of the column

In [17]:
rating_mean_without_cero = films_df[films_df['rating'] != 0] # get the mean of the rating column
#rating_mean_without_cero = films_df[films_df['rating'].mean()] # get the mean of the rating column (without the condition have the same result)
rating_mean_without_cero.mean()
rating_median_without_cero = films_df.loc[films_df['rating'] != 0, 'rating'].median() # get the median of the rating column
rating_mode_without_cero = films_df[films_df['rating'] != 0, 'rating'].mode() # get the mode of the rating column
display(rating_median_without_cero)
rating_mode_without_cero = films_df.loc[films_df['rating'] != 0, 'rating'].mode() # get the mode of the rating column
display(rating_mode_without_cero)

/var/folders/zh/sct9634x6kvcb6_5gkff84nh0000gn/T/ipykernel_34769/1412137785.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  rating_mean_without_cero.mean()

InvalidIndexError: (0      True
1      True
2      True
3      True
4      True
       ...
610    True
611    True
612    True
613    True
614    True
Name: rating, Length: 615, dtype: bool, 'rating')

In [19]:
non_zero_rating_count = films_df.loc[films_df['rating_count'] != 0] # get the mean of the rating_count column without the 0 values
mean_non_zero_rating_count = non_zero_rating_count['rating_count'].mean()
display(mean_non_zero_rating_count)
rating_count_median_without_ceros = films_df.loc[films_df['rating_count'] != 0, 'rating_count'].median() # get the median of the rating_count column without the 0 values
display(rating_count_median_without_ceros)
rating_count_mode_without_ceros = films_df.loc[films_df['rating_count'] != 0, 'rating_count'].mode() # get the mode of the rating_count column without the 0 values
display(rating_count_mode_without_ceros)

339252.1200787402

240347.5

0       28949.0
1       64326.0
2       79806.0
3       83296.0
4       91415.0
5      110340.0
6      127793.0
7      150380.0
8      224254.0
9      232864.0
10     252223.0
11     348791.0
12     351725.0
13     374981.0
14     397467.0
15     429384.0
16     473121.0
17     489354.0
18     500448.0
19     527284.0
20     545440.0
21     545814.0
22     681249.0
23     685903.0
24     727724.0
25     869127.0
26     978389.0
27    1690474.0
28    1888105.0
Name: rating_count, dtype: float64

#### Mean: The mean is sensitive to extreme values or outliers in the data, so if your data contains outliers or extreme values, using the mean to fill in missing values may result in biased estimates. Additionally, if the data is skewed, the mean may not be a representative measure of central tendency. However, if the data is normally distributed and does not contain outliers, the mean may be a good choice for filling missing values.

#### Median: The median is less sensitive to extreme values and is a good measure of central tendency for skewed data. If your data is skewed or contains outliers, using the median to fill in missing values may be a better choice than the mean. However, the median does not take into account the specific values of the data points, so it may not be as accurate as the mean in representing the data.

In [ ]:
skewness_rating = films_df['rating'].skew() # get the skewness of the rating column
display(skewness)

In [ ]:
skewness_rating_count = films_df['rating_count'].skew() # get the skewness of the rating_count column
display(skewness_rating_count)

#### The skew() method calculates the skewness of each column in the DataFrame. If the skewness value is positive, the data is right-skewed (i.e., has a long tail to the right), while if it is negative, the data is left-skewed (i.e., has a long tail to the left). If the skewness value is close to zero, the data is approximately symmetric. You can also use a histogram or a density plot to visualize the distribution of the data and check for skewness.